@tailwind base;
@tailwind components;
@tailwind utilities;

.prose pre {
    overflow: auto;
    min-width: 100%;
    max-width: fit-content;
}

/* insert an en dash between all spans. used for metadata below the post title. */
#post-metadata span + span::before {
    content: " – "; /* NOTE: en dash. longer than a normal hyphen: "-". */
}

/* footnotes */
.footnote-definition p {
    display: inline;
}

/* navbar */

#nav-menu-toggle-icon {
    font-family: Material Symbols Outlined;
}

#nav-menu {
    display: none;
}

#nav-menu-toggle:checked ~ #nav-menu {
    display: flex;
}

@media (min-width: 768px) {
    #nav-menu {
        display: flex;
    }
}

/* end navbar */

/* anchor links */
a.zola-anchor {
    margin-left: 0.25rem;
}

/* release links should look like the title. could be part of the page template. */
#release-links {
    margin-top: -1rem;
}

/* heading authors */

.heading-author {
    margin-top: -1.5rem;
}

.heading-author::before {
    content: "By ";
}
